<ion-view view-title="Medications">
    <ion-content>
        <ion-list>
            <ion-item ng-hide="tokenExists">
                No Accounts Connected
            </ion-item>
            <ion-item ng-repeat="(medIndex, med) in medications track by $index" ng-show="tokenExists">
                {{med.resource.medication.display}}<!-- - {{med.resource.status}}-->
            </ion-item>
        </ion-list>
        <!--<div class="row" ng-show="tokenExists">
            <div class="col">
                <pre>{{medications}}</pre>
            </div>
        </div>-->
    </ion-content>
    <div id="newUser" ng-hide="tokenExists">
        <button class="button button-balanced col" ng-click="getToken()">Add a User (DRE)</button>
    </div>
</ion-view>
