<ion-view view-title="Medications">
    <ion-content>
        <ion-list>
            <ion-item ng-hide="tokenExists">
                No health records connected.
            </ion-item>
            <ion-item ng-repeat="(medIndex, med) in medications track by $index" ng-show="tokenExists">
                {{med.resource.medication.display}}<!-- - {{med.resource.status}}-->
            </ion-item>
        </ion-list>
    </ion-content>
    <div id="newUser" ng-hide="tokenExists">
        <button class="button button-balanced col" ng-click="getToken()">Connect to DRE</button>
    </div>
</ion-view>
