<ion-view view-title="Settings">
    <ion-content>
        <ion-list>
            <ion-item ng-hide="tokenExists">
                <div class="row">
                    <button class="button button-default col-75 token" ng-click="getDREToken()">
                        <!--<i class="icon ion-android-person"></i>-->
                        <img class="bblogo" src="img/bb-logo-vector.png"/> DRE
                    </button>
                    <!--                    <div class="col-25">

                                        </div>-->
                    <div class="col-25">
                        <button class="button infoButton" ng-click="getDREToken()">
                            Connect
                        </button>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-hide="tokenExists">
                <div class="row">
                    <button class="button button-default col-75 token" ng-click="getSMARTToken()">
                        <!--<i class="icon ion-android-person"></i>-->
                        <img class="smartlogo" src="img/smart_logo.png"/> SMART on FHIR
                    </button>
                    <!--                    <div class="col-25">

                                        </div>-->
                    <div class="col-25">
                        <button class="button infoButton" ng-click="getSMARTToken()">
                            Connect
                        </button>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-show="tokenExists">
                <div class="row">
                    <button class="button button-default col token" ng-click="goMeds()"
                            ng-if="token.c.name === 'DRE/FHIR'">
                    <!--<i class="icon ion-android-person"></i>-->
                        <img class="bblogo" src="img/bb-logo-vector.png"/>
                        {{token.patients[0].resource.name[0].given[0]}}
                        {{token.patients[0].resource.name[0].family[0]}}&nbsp;&nbsp;<i class="icon ion-chevron-right"
                                                                                       style="float: right;"></i>
                    </button>
                    <button class="button button-default col token" ng-click="goMeds()"
                            ng-if="token.c.name === 'SMART on FHIR'">
                        <!--<i class="icon ion-android-person"></i>-->
                        <img class="smartlogo" src="img/smart_logo.png"/>
                        {{token.patients[0].resource.name[0].given[0]}}
                        {{token.patients[0].resource.name[0].family[0]}}&nbsp;&nbsp;<i class="icon ion-chevron-right"
                                                                                       style="float: right;"></i>
                    </button>
<!--                    <div class="col-25">

                    </div>-->
                    <!--<div class="col-25">
                        <button class="button infoButton" ng-click="goPatient()">
                            INFO
                        </button>
                    </div>-->
                </div>
            </ion-item>
            <div class="card" ng-show="oauthError">
                <div class="item item-text-wrap">
                    There was a problem authenticating, please try again.
                </div>
            </div>
            <div class="card" ng-show="tokenExists">
                <div class="item item-text-wrap">
                    For this demo, you can only connect to one health record at a time.
                </div>
            </div>
            <!--<ion-item ng-show="tokenExists">
                <div class="card">
                    For this demo, you can only connect to one health record at a time.
                </div>
            </ion-item>-->
            <ion-item ng-show="tokenExists">
                <div class="row">
                    <button class="button button-balanced col" ng-click="goMeds()">
                        Go To Medications
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <div id="newUser" ng-show="tokenExists">
        <button class="button button-assertive col" ng-click="clearTokens()">Disconnect</button>
    </div>

</ion-view>
